.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* position: relative; */
  /* background-color: rgba(235, 235, 235, 0.3); */
  /* background-color: #fff; */
  /* opacity: 0.5; */
}

.loader {
  width: 35px;
  height: 35px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border: 3px solid #cacaca;
  border-bottom-color: #5dade2;
  border-radius: 50%;
  /* display: inline-block; */
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
