.created {
  width: 200px;
  text-align: center;
}

.sub-activity {
  margin: 0px 10px;
}

.date {
  text-align: center;
}

.title1 {
  margin: 20px 10px;
  i {
    padding: 6px 8px;
    background-color: #3554d1;
    color: white;
    margin-right: 10px;
    border-radius: 4px;
  }
  .text {
    font-size: 24px;
    font-weight: 500;
  }
}
