.left-banner {
  margin: 15px;
  width: 430px;
}

.left-banner img {
  width: 430px;
  height: 255px;
}

.left-banner img {
  margin-bottom: 15px;
  border-radius: 4px;
}

.file {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 10px;
}

.form-control2 {
  width: 430px;
  margin-bottom: 15px;
}

.submit2 {
  width: 430px;
  cursor: pointer;
  background-color: #3554d1;
  font-size: 16px;
  color: #fff;
  padding: 15px;
}
